.nav-bg {
    background: white !important;
}

.navP {
    font-size: 18px;
}

.vertical {
    border-right: 1px solid;
}

.img-vertical {
    border-right: 1px solid white;
    font-size: 18px;
}

.sm-span {
    font-size: 10px;
}

.pic-img {
    width: 40px;
    border-radius: 100%;
}

.name {
    font-size: 14px;
}

.tag {
    font-size: 10px;
}

.no-border {
    border: none !important;
    padding-left: none !important;
}

@media only screen and (max-width: 768px) {
    .vertical {
        border-right: 0px !important;
    }
}